<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/_base.xhtml">

    <f:metadata>
        <f:viewAction action="#{callbackController.callBack}"/>
    </f:metadata>

    <ui:define name="title">Callback</ui:define>

    <ui:define name="body">
        <h:outputLabel value="Loading..."/>
    </ui:define>
</ui:composition>