<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{searchController.search()}"/>
    </f:metadata>

    <ui:define name="title">Home</ui:define>

    <ui:define name="body">
        <s:form>
            <s:row>
                <h:panelGroup layout="block" styleClass="col-xl-2"/>
                <h:panelGroup layout="block" styleClass="col-xl-8">
                    <ui:fragment rendered="#{searchBean.searchResults.isEmpty()}">
                        <h1 class="display-1">Seshat</h1>
                        <br/>
                    </ui:fragment>
                    <div class="input-group">
                        <h:inputText id="searchStringInput"
                                     value="#{searchBean.searchString}"
                                     styleClass="form-control"/>
                        <div class="input-group-append">
                            <h:commandButton styleClass="btn btn-outline-secondary" value="Search"
                                             action="#{searchController.newSearch}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="col-xl-2"/>
            </s:row>
            <s:row>
                <h:panelGroup layout="block" styleClass="col-xl-2"/>
                <h:panelGroup layout="block" styleClass="col-xl-8 ">
                    <p class="text-left">
                        <h:link value="Items" outcome="#{searchController.searchItems()}"
                                styleClass="#{searchBean.searchType eq 'ITEMS' ? 'font-weight-bold' : ''}"/>
                        |
                        <h:link value="Works" outcome="#{searchController.searchWorks()}"
                                styleClass="#{searchBean.searchType eq 'WORKS' ? 'font-weight-bold' : ''}"/>
                    </p>
                    <p class="text-right">
                        #{searchBean.searchResults.size()} results (#{searchBean.searchTime} seconds)
                    </p>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="col-xl-2"/>
            </s:row>
            <h:panelGroup layout="block" styleClass="row" id="searchResultsTableContainer">
                <ui:repeat value="#{searchBean.searchResults}" var="_result">
                    <div class="col-md-2">
                        <div class="card mb-2 shadow-sm">
                            <h:commandLink action="#{navigationController.viewSearchResult(searchBean.searchType, _result.id)}">
                                <img src="#{_result.imageUrl}" width="100%" class="bd-placeholder-img card-img-top"/>
                            </h:commandLink>
                            <div class="card-body">
                                <p class="card-text">#{_result.name}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">dodad</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">#{_result.typeName}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </h:panelGroup>
        </s:form>
    </ui:define>
</ui:composition>