<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Login</ui:define>

    <ui:define name="body">
        <h1 class="cover-heading">Seshat Admin console</h1>
        <p class="lead">Seshat is designed for Library management</p>
        <p class="lead">
            <h:form>
                <h:commandButton action="#{loginController.login}"
                                 value="Login"
                                 styleClass="btn btn-lg btn-secondary"/>
            </h:form>
        </p>
    </ui:define>
</ui:composition>