<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card title="Begin adding a item" styleClass="col-xl-12">
                    <s:inputSelectOne id="workType" label="Work type" value="#{initAddBean.workType}">
                        <f:selectItem noSelectionOption="true" itemLabel="Select a work type"
                                      itemValue="#{null}"/>
                        <f:selectItems value="#{initAddBean.availableWorkTypes}" var="_type"
                                       itemValue="#{_type}" itemLabel="#{_type.name}"/>
                        <f:ajax execute="@form" render="@form"/>
                    </s:inputSelectOne>
                    <ui:fragment rendered="#{initAddBean.workType ne null and initAddBean.connectorInfo ne null}">
                        <s:inputTextArea id="newAttribute" value="#{initAddBean.connectorSearchTerm}"
                                         label="Search via Connector"
                                         placeholder="Search terms seperated by ','">
                            <div class="input-group-append">
                                <h:selectOneMenu value="#{initAddBean.connectorSearchType}"
                                                 style="color: rgb(108, 117, 125)">
                                    <f:selectItems value="#{initAddBean.connector.searchTypes}" var="_field"
                                                   itemValue="#{_field}"
                                                   itemLabel="#{_field}"/>
                                </h:selectOneMenu>
                                <h:commandButton action="#{addController.addViaController}"
                                                 value="Search"
                                                 styleClass="btn btn-outline-secondary"/>
                            </div>
                        </s:inputTextArea>
                    </ui:fragment>
                    <ui:fragment rendered="#{initAddBean.workType ne null}">
                        <p>Work type present</p>
                    </ui:fragment>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>