<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card styleClass="col-xl-12"
                        title="Found data options for search: #{selectDataSourceBean.searchType} - #{selectDataSourceBean.searchTerm}">
                    <s:row>
                        <ui:repeat value="#{selectDataSourceBean.imageFields}" var="_field">
                            <div class="col-md-2">
                                <div class="card mb-2 shadow-sm">
                                    <img src="#{_field.value}" width="100%"
                                         class="bd-placeholder-img card-img-top"/>
                                    <div class="card-body">
                                        <h:selectBooleanCheckbox value="#{_field.selected}"/>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">#{_field.sources}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ui:repeat>
                    </s:row>
                    <ui:repeat value="#{selectDataSourceBean.fields}" var="_value">
                        <s:AddAttributeValue attribute="#{_value}"/>
                    </ui:repeat>
                    <ui:repeat value="#{selectDataSourceBean.listFields}" var="_value">
                        <s:AddListAttributeValue attribute="#{_value}"/>
                    </ui:repeat>

                    <h:commandButton action="#{manageImportsController.addNewWorkItem}"
                                     value="Add item"
                                     styleClass="btn btn-outline-secondary"/>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>