<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card styleClass="col-xl-12"
                        title="Found data options for search: #{manageImportsController.searchType} - #{manageImportsController.currentSearchTerm}">
                    <s:row>
                        <ui:repeat value="#{selectImportOptionsBean.possibleWorks}" var="_work">
                            <div class="col-md-2">
                                <div class="card mb-2 shadow-sm">
                                    <h:commandLink action="#{manageImportsController.addItemToWork(_work)}">
                                        <img src="/image/#{_work.imageIds.get(0)}" width="100%"
                                             class="bd-placeholder-img card-img-top"/>
                                    </h:commandLink>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">#{_work.name}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ui:repeat>
                    </s:row>

                    <h:commandButton action="#{manageImportsController.selectFromConnector}"
                                     value="Search connector instead"
                                     styleClass="btn btn-outline-secondary"/>
                    <!-- TODO button for manual option should be here aswell -->
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>