<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card title="Details" styleClass="col-xl-12">
                    <s:row>
                        <dt class="col-sm-2">ID</dt>
                        <dd class="col-sm-10">#{editWorkBean.id}</dd>
                    </s:row>

                    <ui:repeat value="#{editWorkBean.attributes}" var="_value">
                        <s:editAttributeValue editedValue="#{_value}"/>
                    </ui:repeat>

                    <h:commandButton action="#{editWorkController.save}"
                                     value="Save Work"
                                     styleClass="btn btn-outline-secondary"
                                     rendered="#{not sessionBean.workReadOnly}"/>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>