<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <div class="col-xl-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">#{viewWorkBean.name}</h6>
                            <div class="float-right">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-3">
                    <img src="" width="100%" class="bd-placeholder-img card-img-top"/>
                </s:card>
                <s:card title="Work attributes" styleClass="col-xl-6">
                    <s:row>
                        <dt class="col-sm-3">ID</dt>
                        <dd class="col-sm-9">#{viewWorkBean.id}</dd>
                    </s:row>
                    <ui:repeat value="#{viewWorkBean.attributes}" var="_value">
                        <s:viewAttributeValue value="#{_value}"/>
                    </ui:repeat>
                </s:card>
                <s:card title="Menu" styleClass="col-xl-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h:commandLink value="Edit work"
                                           action="#{navigationController.editWork(viewWorkBean.id)}"
                                           rendered="#{not sessionBean.workReadOnly}"/>
                        </li>
                    </ul>
                </s:card>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-12">
                    <h:dataTable value="#{viewWorkBean.items}"
                                 styleClass="table table-striped"
                                 var="_item"
                                 width="100%"
                                 id="itemsTable">
                        <h:column>
                            <f:facet name="header">Name</f:facet>
                            <h:commandLink value="#{_item.name}" action="#{navigationController.viewItem(_item.id)}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{_metadata.key}</f:facet>
                            <h:outputText value="#{_metadata.value}"/>
                        </h:column>
                    </h:dataTable>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>