<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card title="Details" styleClass="col-xl-12">
                    <s:inputField id="name" value="#{addNewTypeBean.name}" label="Name" placeholder="Name"/>
                    <s:inputField id="Description" value="#{addNewTypeBean.description}" label="Description"
                                  placeholder="Description"/>
                    <s:inputSelectOne id="nameField" label="Name attribute field" value="#{addNewTypeBean.attributeName}">
                        <f:selectItems value="#{addNewTypeBean.attributes}" var="_type"
                                       itemValue="#{_type.name}" itemLabel="#{_type.name}"/>
                    </s:inputSelectOne>
                    <s:inputSelectOne id="descField" label="Description attribute field" value="#{addNewTypeBean.attributeDesc}">
                        <f:selectItems value="#{addNewTypeBean.attributes}" var="_type"
                                       itemValue="#{_type.name}" itemLabel="#{_type.name}"/>
                    </s:inputSelectOne>
                </s:card>
            </s:row>
            <s:row>
                <s:card title="Attributes" styleClass="col-xl-6">
                    <div>Attributes belong to a work, think authors of a book, published date, etc</div>
                    <ui:repeat value="#{addNewTypeBean.attributes.toArray()}" var="_value">
                        <s:inputField id="attribute" value="#{_value.name}" readOnly="true">
                            <div class="input-group-append">
                                <h:selectOneMenu value="#{_value.type}" style="color: rgb(108, 117, 125)"
                                                 disabled="true">
                                    <f:selectItems value="#{addNewTypeBean.attributeTypes}" var="_type"
                                                   itemValue="#{_type}" itemLabel="#{_type}"/>
                                </h:selectOneMenu>
                                <h:commandButton action="#{addNewTypeController.removeAttribute(_value)}"
                                                 value="Remove"
                                                 styleClass="btn btn-outline-secondary">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </s:inputField>
                    </ui:repeat>

                    <s:inputField id="newAttribute" value="#{addNewTypeBean.newAttrbName}" label="New Attribute"
                                  placeholder="name">
                        <div class="input-group-append">
                            <h:selectOneMenu value="#{addNewTypeBean.newAttrbType}" style="color: rgb(108, 117, 125)">
                                <f:selectItems value="#{addNewTypeBean.attributeTypes}" var="_type" itemValue="#{_type}"
                                               itemLabel="#{_type.description}"/>
                            </h:selectOneMenu>
                            <h:commandButton action="#{addNewTypeController.addAttribute}"
                                             value="Add"
                                             styleClass="btn btn-outline-secondary">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </div>
                    </s:inputField>
                </s:card>
                <s:card title="Metadata" styleClass="col-xl-6">
                    <div>Metadata belongs to a item (an instance of a work), think missing pages, skipping record, etc</div>
                    <ui:repeat value="#{addNewTypeBean.metadata.toArray()}" var="_value">
                        <s:inputField id="metadata" value="#{_value.name}" readOnly="true">
                            <div class="input-group-append">
                                <h:selectOneMenu value="#{_value.type}" style="color: rgb(108, 117, 125)"
                                                 disabled="true">
                                    <f:selectItems value="#{addNewTypeBean.attributeTypes}" var="_type"
                                                   itemValue="#{_type}" itemLabel="#{_type.description}"/>
                                </h:selectOneMenu>
                                <h:commandButton action="#{addNewTypeController.removeMetadata(_value)}"
                                                 value="Remove"
                                                 styleClass="btn btn-outline-secondary">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </s:inputField>
                    </ui:repeat>

                    <s:inputField id="newMetadata" value="#{addNewTypeBean.newMetaName}" label="New Metadata"
                                  placeholder="name">
                        <div class="input-group-append">
                            <h:selectOneMenu value="#{addNewTypeBean.newMetaType}" style="color: rgb(108, 117, 125)">
                                <f:selectItems value="#{addNewTypeBean.attributeTypes}" var="_type" itemValue="#{_type}"
                                               itemLabel="#{_type.description}"/>
                            </h:selectOneMenu>
                            <h:commandButton action="#{addNewTypeController.addMetadata}"
                                             value="Add"
                                             styleClass="btn btn-outline-secondary">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </div>
                    </s:inputField>
                </s:card>
            </s:row>
            <s:row>
                <h:panelGroup layout="block" styleClass="col-xl-4"/>
                <s:card styleClass="col-xl-4">
                    <h:commandButton action="#{addNewTypeController.save}"
                                     value="Save"
                                     styleClass="btn btn-outline-secondary"/>
                </s:card>
                <h:panelGroup layout="block" styleClass="col-xl-4"/>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>