<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/_base.xhtml"
                xmlns:s="http://goodiemania.org/seshat/taglib">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <s:row>
            <s:card title="All types" styleClass="col-xl-12">
                <s:form>
                    <h:dataTable value="#{browseAllTypesBean.workTypes}"
                                 styleClass="table table-striped"
                                 var="_p"
                                 width="100%"
                                 id="itemTypesTable">
                        <h:column>
                            <f:facet name="header">Name</f:facet>
                            <h:commandLink value="#{_p.name}" action="#{navigationController.viewWorkType(_p.id)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Desription</f:facet>
                            <h:outputText value="#{_p.description}"/>
                        </h:column>
                    </h:dataTable>
                </s:form>
            </s:card>
        </s:row>
    </ui:define>
</ui:composition>