<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card title="Details" styleClass="col-xl-12">
                    <s:inputField id="id" value="#{viewTypeBean.id}" label="ID" placeholder="ID"/>
                    <s:inputField id="name" value="#{viewTypeBean.name}" label="Name" placeholder="Name"/>
                    <s:inputField id="Description" value="#{viewTypeBean.description}" label="Description"
                                  placeholder="Description"/>
                    <s:inputSelectOne id="nameField" label="Name attribute field" value="#{viewTypeBean.attributeName}">
                        <f:selectItems value="#{viewTypeBean.attributes}" var="_type"
                                       itemValue="#{_type.name}" itemLabel="#{_type.name}"/>
                    </s:inputSelectOne>
                    <s:inputSelectOne id="descField" label="Description attribute field"
                                      value="#{viewTypeBean.attributeDesc}">
                        <f:selectItems value="#{viewTypeBean.attributes}" var="_type"
                                       itemValue="#{_type.name}" itemLabel="#{_type.name}"/>
                    </s:inputSelectOne>
                </s:card>
            </s:row>
            <s:row>
                <s:card title="Attributes" styleClass="col-xl-6">
                    <div>Attributes belong to a work, think authors of a book, published date, etc</div>
                    <ui:repeat value="#{viewTypeBean.attributes}" var="_value">
                        <s:inputField id="attribute" value="#{_value.name}" readOnly="true">
                            <div class="input-group-append">
                                <h:selectOneMenu value="#{_value.type}" style="color: rgb(108, 117, 125)"
                                                 disabled="true">
                                    <f:selectItems value="#{viewTypeBean.attributeTypes}" var="_type"
                                                   itemValue="#{_type}" itemLabel="#{_type}"/>
                                </h:selectOneMenu>
                                <h:commandButton action="#{viewTypeController.removeAttribute(_value)}"
                                                 value="Remove"
                                                 styleClass="btn btn-outline-secondary">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </s:inputField>
                    </ui:repeat>

                    <s:inputField id="newAttribute" value="#{viewTypeBean.newAttrbName}" label="New Attribute"
                                  placeholder="name">
                        <div class="input-group-append">
                            <h:selectOneMenu value="#{viewTypeBean.newAttrbType}" style="color: rgb(108, 117, 125)">
                                <f:selectItems value="#{viewTypeBean.attributeTypes}" var="_type" itemValue="#{_type}"
                                               itemLabel="#{_type.description}"/>
                            </h:selectOneMenu>
                            <h:commandButton action="#{viewTypeController.addAttribute}"
                                             value="Add"
                                             styleClass="btn btn-outline-secondary">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </div>
                    </s:inputField>
                </s:card>
                <s:card title="Metadata" styleClass="col-xl-6">
                    <div>Metadata belongs to a item (an instance of a work), think missing pages, skipping record, etc</div>
                    <ui:repeat value="#{viewTypeBean.metadata}" var="_value">
                        <s:inputField id="metadata" value="#{_value.name}" readOnly="true">
                            <div class="input-group-append">
                                <h:selectOneMenu value="#{_value.type}" style="color: rgb(108, 117, 125)"
                                                 disabled="true">
                                    <f:selectItems value="#{viewTypeBean.attributeTypes}" var="_type"
                                                   itemValue="#{_type}" itemLabel="#{_type.description}"/>
                                </h:selectOneMenu>
                                <h:commandButton action="#{viewTypeController.removeMetadata(_value)}"
                                                 value="Remove"
                                                 styleClass="btn btn-outline-secondary">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </s:inputField>
                    </ui:repeat>

                    <s:inputField id="newMetadata" value="#{viewTypeBean.newMetaName}" label="New Metadata"
                                  placeholder="name">
                        <div class="input-group-append">
                            <h:selectOneMenu value="#{viewTypeBean.newMetaType}" style="color: rgb(108, 117, 125)">
                                <f:selectItems value="#{viewTypeBean.attributeTypes}" var="_type" itemValue="#{_type}"
                                               itemLabel="#{_type.description}"/>
                            </h:selectOneMenu>
                            <h:commandButton action="#{viewTypeController.addMetadata}"
                                             value="Add"
                                             styleClass="btn btn-outline-secondary">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </div>
                    </s:inputField>
                </s:card>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-12" title="Connector">
                    <s:inputSelectOne value="#{viewTypeBean.connector}" style="color: rgb(108, 117, 125)"
                                      id="connectorType" label="Connector">
                        <f:selectItem itemLabel="Blank" itemValue="#{null}"/>
                        <f:selectItems value="#{viewTypeBean.allConnectors}" var="_type"
                                       itemValue="#{_type}" itemLabel="#{_type.name}"/>
                        <f:ajax execute="@form" render="@form"/>
                    </s:inputSelectOne>
                </s:card>
                <ui:fragment rendered="#{viewTypeBean.connector ne null}">
                    <s:card styleClass="col-xl-12" title="Connector mapping">
                        <ui:repeat value="#{viewTypeBean.connectorMappings}" var="_mapping">
                            <s:inputField id="existingConnector" value="#{_mapping.connectorName}" readOnly="true"
                                          label="Connector // work field">
                                <h:inputText id="existingConnectorWorkMap" styleClass="form-control"
                                             value="#{_mapping.workName}" readonly="true"/>
                                <div class="input-group-append">
                                    <h:commandButton action="#{viewTypeController.removeConnectorMapping(_mapping)}"
                                                     value="Remove"
                                                     styleClass="btn btn-outline-secondary">
                                        <f:ajax execute="@form" render="@form"/>
                                    </h:commandButton>
                                </div>
                            </s:inputField>
                        </ui:repeat>
                        <s:inputSelectOne id="addNewConnectorMapping" label="Connector mapping"
                                          value="#{viewTypeBean.newConnectConnectName}">
                            <f:selectItem noSelectionOption="true" itemLabel="Select a connector field"
                                          itemValue="#{null}"/>
                            <f:selectItems value="#{viewTypeBean.connectorFields}" var="_type"
                                           itemValue="#{_type}" itemLabel="#{_type}"/>
                            <f:ajax execute="@form" render="@form"/>
                        </s:inputSelectOne>
                        <s:inputSelectOne id="addNewMapping" label="Connector mapping"
                                          value="#{viewTypeBean.newConnectWorkName}">
                            <f:selectItems value="#{viewTypeBean.connectorMappingFields}" var="_type"
                                           itemValue="#{_type}" itemLabel="#{_type}"/>
                        </s:inputSelectOne>

                        <h:commandButton action="#{viewTypeController.addConnectorMapping}"
                                         value="Add connector mapping"
                                         styleClass="btn btn-outline-secondary">
                            <f:ajax execute="@form" render="@form"/>
                        </h:commandButton>
                    </s:card>
                    <s:card styleClass="col-xl-12" title="Connector search">
                        <ui:repeat value="#{viewTypeBean.searchFields}" var="_field">
                            <s:inputField id="exisitingSearchField" value="#{_field.searchId} - #{_field.searchFields}" readOnly="true"
                                          label="Search field">

                                <div class="input-group-append">
                                    <h:commandButton action="#{viewTypeController.removeConnectorSearch(_field)}"
                                                     value="Remove"
                                                     styleClass="btn btn-outline-secondary">
                                        <f:ajax execute="@form" render="@form"/>
                                    </h:commandButton>
                                </div>
                            </s:inputField>
                        </ui:repeat>
                        <s:inputSelectOne id="addNewSearchMappingConnector" label="Ttype"
                                          value="#{viewTypeBean.newSearchId}">
                            <f:selectItems value="#{viewTypeBean.connectorSearchFields}" var="_type"
                                           itemValue="#{_type}" itemLabel="#{_type}"/>
                        </s:inputSelectOne>
                        <s:inputSelectMany id="addNewSearchMappingMapping" label="Fields"
                                           value="#{viewTypeBean.newSearchFields}">
                            <f:selectItems value="#{viewTypeBean.connectorSearchMappingFields}" var="_type"
                                           itemValue="#{_type}" itemLabel="#{_type}"/>
                        </s:inputSelectMany>

                        <h:commandButton action="#{viewTypeController.addConnectorSearch}"
                                         value="Add connector search"
                                         styleClass="btn btn-outline-secondary">
                            <f:ajax execute="@form" render="@form"/>
                        </h:commandButton>
                    </s:card>
                </ui:fragment>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-12">
                    <h:commandButton action="#{viewTypeController.save}"
                                     value="Save"
                                     styleClass="btn btn-outline-secondary"/>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>