<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <s:card title="Details" styleClass="col-xl-12">
                    <s:inputField id="id" value="#{editItemBean.id}" label="ID"
                                  readOnly="true"/>

                    <ui:repeat value="#{editItemBean.metadata}" var="_value">
                        <s:editAttributeValue editedValue="#{_value}"/>
                    </ui:repeat>

                    <h:commandButton action="#{editItemController.save}"
                                     value="Save Item"
                                     styleClass="btn btn-outline-secondary"
                                     rendered="#{not sessionBean.itemReadOnly}"/>
                </s:card>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-12">
                    <ui:repeat value="#{editItemBean.attributes}" var="_value">
                        <s:viewAttributeValue value="#{_value}"/>
                    </ui:repeat>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>