<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:s="http://goodiemania.org/seshat/taglib"
                template="/WEB-INF/templates/_base.xhtml">

    <ui:define name="title">Browse Item Types</ui:define>

    <ui:define name="body">
        <h:form>
            <s:row>
                <div class="col-xl-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">#{viewItemBean.name}</h6>
                        </div>
                    </div>
                </div>
            </s:row>
            <s:row>
                <s:card styleClass="col-xl-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <ui:repeat value="#{viewItemBean.work.imageIds}" var="_image" varStatus="_status">
                                <li data-target="#carouselExampleIndicators" data-slide-to="#{_status.index}"
                                    class="#{_status.index eq 0 ? 'active' : ''}"/>
                            </ui:repeat>
                        </ol>
                        <div class="carousel-inner">
                            <ui:repeat value="#{viewItemBean.work.imageIds}" var="_image" varStatus="_status">
                                <div class="carousel-item#{_status.index eq 0 ? ' active' : ''}">
                                    <img class="d-block mx-auto" src="/image/#{_image}" alt="Item image"/>
                                </div>
                            </ui:repeat>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(100%);"/>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(100%);"/>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </s:card>
                <s:card title="Details" styleClass="col-xl-6">
                    <div class="collapseModule">
                        <h3>#{viewItemBean.name}</h3>
                        <p class="collapse" id="collapseExample" aria-expanded="false">
                            #{viewItemBean.desc}
                        </p>
                        <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample"/>
                    </div>

                    <ui:repeat value="#{viewItemBean.metadata}" var="_value">
                        <s:viewAttributeValue value="#{_value}"/>
                    </ui:repeat>
                </s:card>
                <s:card title="Menu" styleClass="col-xl-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h:commandLink value="Edit item"
                                           action="#{navigationController.editItem(viewItemBean.id)}"
                                           rendered="#{not sessionBean.itemReadOnly}"/>
                        </li>
                        <li class="list-group-item">
                            <h:commandLink value="View work"
                                           action="#{navigationController.viewWork(viewItemBean.work.id)}"/>
                        </li>
                        <li class="list-group-item">
                            <h:commandLink value="Edit work"
                                           action="#{navigationController.editWork(viewItemBean.work.id)}"
                                           rendered="#{not sessionBean.workReadOnly}"/>
                        </li>
                    </ul>
                </s:card>
            </s:row>
            <s:row>
                <s:card title="Work attributes" styleClass="col-xl-12">
                    <s:row>
                        <dt class="col-sm-3">ID</dt>
                        <dd class="col-sm-9">#{viewItemBean.id}</dd>
                    </s:row>
                    <s:row>
                        <dt class="col-sm-3">Work ID</dt>
                        <dd class="col-sm-9">#{viewItemBean.work.id}</dd>
                    </s:row>
                    <ui:repeat value="#{viewItemBean.attributes}" var="_value">
                        <s:viewAttributeValue value="#{_value}"/>
                    </ui:repeat>
                </s:card>
            </s:row>
        </h:form>
    </ui:define>
</ui:composition>